svg text {
    cursor: pointer;
}
svg text:hover {
    fill: red;
}

.popup {
    position: fixed;
    background-color: lightslategray;
    padding: 5%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%)
               translateY(-50%);
}

.popup button {
    border-radius: 10px;
    font-size: 25px;
    width: 200px;
    margin: 5px 0px;
}

.edit_fur_popup {
    position: absolute;
    width: 200px;
    height: 250px;
}

.edit_fur_popup button {
    width: 100%;
    line-height: 50px;
}

.bg-type {
    background-color: #ffcd37 !important;
}
.bg-type:hover {
    background-color: #bb9a37 !important;
}

.bg-data {
    background-color: #aaccaa !important;
}
.bg-data:hover {
    background-color: #77aa77 !important;
}

.bg-process {
    background-color: #eeaaaa !important;
}
.bg-process:hover {
    background-color: #cc8888 !important;
}

.text-room {
    color: #9999ee !important;
}
.bg-room {
    background-color: #aaaadd !important;
}
.bg-room:hover {
    background-color: #7777aa !important;
}

.text-directory {
    color: #777777 !important;
}
.bg-directory {
    background-color: #aaaaaa !important;
}
.bg-directory:hover {
    background-color: #777777 !important;
}