svg text {
    font-size: 20px;
    font-weight: bolder;
}

.bg-type {
    background-color: #ffcd37 !important;
}
.bg-type:hover {
    background-color: #bb9a37 !important;
}

.bg-data {
    background-color: #aaccaa !important;
}
.bg-data:hover {
    background-color: #77aa77 !important;
}

.bg-process {
    background-color: #eeaaaa !important;
}
.bg-process:hover {
    background-color: #cc8888 !important;
}

.text-room {
    color: #9999ee !important;
}
.bg-room {
    background-color: #aaaadd !important;
}
.bg-room:hover {
    background-color: #7777aa !important;
}

.text-directory {
    color: #777777 !important;
}
.bg-directory {
    background-color: #aaaaaa !important;
}
.bg-directory:hover {
    background-color: #777777 !important;
}

.tab {
    border: 2px solid gray;
    border-left: none;
    border-bottom: none;
    border-top-right-radius: 10px;
    background: white;
    padding-left: 15px;
    padding-right: 15px;
}

.tab.active {
    background: #cccccc;
}